.venv
.coverage
.coverage.*
_build
.DS_Store
.vscode
.python-version
docs/_static/pypi.svg
.tox
__pycache__

# Packaging artifacts
censura.egg-info
censura.dist-info
build/
dist/
pip-wheel-metadata/
.eggs

src/_black_version.py
.idea

.dmypy.json
*.swp
.hypothesis/
venv/
.ipynb_checkpoints/
node_modules/
*.pyd
